<div class="col-lg-9">
    <div class="widget-container fluid-height clearfix">
        <div class="heading">
            <i class="icon-search"></i> {% trans %}Results{% endtrans %}
        </div>

        <div>
                   {# {% for result in results %}
                        {{ dump(result) }}
                    {% endfor %} #}   
        </div>

    </div>

</div>